body{
    margin: auto;
    background: salmon;
}
.conStart{
    text-align: center;
    margin: auto;
    background: darkblue;

    
}


/* สไตล์สำหรับ Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* สไตล์สำหรับ input ค้นหา */
#myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

/* เมื่อ hover ที่ input ค้นหา */
#myInput:hover {
    border-bottom: 1px solid #3498DB;
}

/* แสดงผลใน Dropdown หากตรงกับคำค้นหา */
.show {
    display: block;
}